/* Import Nunito font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: #F5F5F5;
    text-align: center;

}

h1, h2, h3 {
    color: #526E48;
}


.menu-bar-logo {
    width: 5rem;
}

.page-title-logo {
    width: 15rem;
}


nav {
    /* background-color: #c2e2b6; */
    background-color: #526E48;
    padding: 15px;
}

nav ul, footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav li, footer li {
    display: inline-block;
    margin-right: 20px;
}

footer li {
    margin-right:30px;
}

a {
    font-weight: 900;
}

nav a {
    color: #F5F5F5;
    text-decoration: none;
}

li, p {
    text-align: left;
}

.text-align-center {
    text-align: center;
}


.text-align-left {
    text-align: left;
}

button {
    background-color: #4895e2; /* Green */
    border: none;
    border-radius: 10px;
    color: #F5F5F5;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
  }