/* Import Nunito font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: #F5F5F5;
    text-align: center;

}

h1, h2, h3 {
    color: #526E48;
}



nav {
    background-color: #526E48;
    padding: 15px;
    display: flex;
    margin: 0;
}

h1 {
    font-size: 4rem
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}


a {
    font-weight: 900;
    color: #F5F5F5;
    text-decoration: none;
}



li, p {
    text-align: left;
}


.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

#email-address {
    color: blue;
}


button {
    background-color: #4895e2; /* Green */
    border: none;
    border-radius: 10px;
    color: #F5F5F5;
    padding: 15px 32px;
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

#ow-profile-photo {
    float: left;
    margin: 0 1rem;
}

footer, nav {
    clear: both;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.container {
    justify-content: center;
    width: 90%;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.container-left-col {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}


.container-right-col {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.flex-row-container { 
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}



p {
    font-size: 1.5rem;
    padding: 0;
    text-align: justify;
}

.strap-line {
    grid-row-start: 2;
    grid-column-start: 1;
    font-size: 2em;
    margin: 0;
}

.responsive {
    height: auto;
    width: 90%;
}



.subject-matrix {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: center;
    gap: 3em;
}

/* .subject-matrix > div {
    gap: 5rem;
} */




/* On smaller screens */
@media (max-width: 992px) {

    p {
        font-size: 16px;
    }

    .container {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .subject-matrix {
        grid-column: 1;
    }
}


/* On larger screens */
@media (min-width: 993px) {
    p {
      font-size: 20px;
    }
  }
  


